module.exports = {
	redis: {
		port: 6379,
		host: 'localhost',
		prefix: 'app.'
	},
	worker: {
		command: '/home/kohlhof/dev/private/teeparty-php/bin/teeparty',
		args: [
			'teeparty:worker',
			'-c/home/kohlhof/dev/private/teeparty-php/teeparty.yml'
		],
		logs: 'logs/worker.log',
	},
	channels: {
		'foo': {
			max: 3
		},
		'bar': {
			max: 1
		},
		'baz': {
			max: 0
		}
	}
}
